/* this file inmports all your partials to be compiled into one style sheet, which you can attach to your html.

The only thing that is going in this file are import statements 

All the files that are prefixed with an underscore "_name-of-file.scss" are called partials - meaning that their css isn't compile unless it's impotered into an unprefixed .scssfile*/
/* Variables 

Variables are placeholders for storing information that you want to reuse throughout your styles. You can store things like colours, font-families, or any css value you can think you might want to use.

SCSS uses the '$' symbol to declare variables
*/
/*

a mixin is similar to a function, it has multiple declarations, as well as can take arguments.

To declare a mixin 
@mixin mixin-name

To use a mixin
@include mixin-name

To use a mixin with arguments
@include($arguments, $argument2, $argument3)

*/
/*     http://codepen.io/sethabbott/pen/oJAds   */
@-ms-viewport {
  width: device-width;
  scale: 1;
}
@viewport {
  width: device-width;
  scale: 1;
}

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  background: #000;
  overflow: scroll;
}

header {
  padding: 2em;
  position: relative;
}

.holder {
  position: relative;
  width: 100%;
  height: 30%;
  opacity: 0.5;
  overflow: hidden;
  box-shadow: 0 0 30px black;
  transition: all 0.45s;
  z-inde: 1;
  border: 5px solid #08273D;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.holder:hover {
  width: 60%;
  height: 100%;
  z-index: 50;
  opacity: 1;
  border: 10px solid #08273D;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}

.holder:hover {
  width: 100%;
  height: 100%;
}

.holder img {
  width: 100%;
  min-height: 100%;
}

.holder span {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  font-size: 12px;
  color: #EDE5D5;
  background: #08273D;
  opacity: 0;
  padding: 10px;
  transition: opacity 1s ease;
}

.holder span:hover {
  opacity: .85;
}

/* position */
div:nth-of-type(1) {
  left: 0;
  top: 0;
}

div:nth-of-type(2) {
  left: 0;
  top: 0;
}

div:nth-of-type(3) {
  right: 0;
  top: 0;
}

div:nth-of-type(4) {
  left: 0;
  top: 33.333333333%;
}

div:nth-of-type(5) {
  left: 0;
  top: 33.333333333%;
}

div:nth-of-type(6) {
  right: 0;
  top: 33.333333333%;
}

div:nth-of-type(7) {
  left: 0;
  bottom: 0;
}

div:nth-of-type(8) {
  left: 0;
  bottom: 0;
}

div:nth-of-type(9) {
  right: 0;
  bottom: 0;
}

/* hovering */
div:nth-of-type(5):hover {
  left: 0;
  top: 0%;
}

div:nth-of-type(8):hover,
div:nth-of-type(2):hover {
  left: 0;
}

div:nth-of-type(4):hover,
div:nth-of-type(6):hover {
  top: 0%;
}

@media only screen and (min-width: 60em) {
  .holder {
    position: absolute;
    width: 33.33%;
    height: 33.33%;
    opacity: 0.5;
    overflow: hidden;
    box-shadow: 0 0 30px black;
    transition: all 0.45s;
    z-inde: 1;
    border: 5px solid #08273D;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .holder:hover {
    width: 60%;
    height: 100%;
    z-index: 50;
    opacity: 1;
    border: 10px solid #08273D;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  }
  /* position */
  div:nth-of-type(1) {
    left: 0;
    top: 0;
  }
  div:nth-of-type(2) {
    left: 33.333333333%;
    top: 0;
  }
  div:nth-of-type(3) {
    right: 0;
    top: 0;
  }
  div:nth-of-type(4) {
    left: 0;
    top: 33.333333333%;
  }
  div:nth-of-type(5) {
    left: 33.333333333%;
    top: 33.333333333%;
  }
  div:nth-of-type(6) {
    right: 0;
    top: 33.333333333%;
  }
  div:nth-of-type(7) {
    left: 0;
    bottom: 0;
  }
  div:nth-of-type(8) {
    left: 33.333333333%;
    bottom: 0;
  }
  div:nth-of-type(9) {
    right: 0;
    bottom: 0;
  }
  /* hovering */
  div:nth-of-type(5):hover {
    left: 25%;
    top: 0%;
  }
  div:nth-of-type(8):hover,
  div:nth-of-type(2):hover {
    left: 25%;
  }
  div:nth-of-type(4):hover,
  div:nth-of-type(6):hover {
    top: 0%;
  }
}

/*# sourceMappingURL=style.css.map */