/*

a mixin is similar to a function, it has multiple declarations, as well as can take arguments.

To declare a mixin 
@mixin mixin-name

To use a mixin
@include mixin-name

To use a mixin with arguments
@include($arguments, $argument2, $argument3)

*/

@mixin holder ($border, $shadow, $opacity, $time){
  position: absolute;
  width: 33.333333333%;
  height: 33.333333333%;
  opacity: $opacity;
  overflow: hidden;
  box-shadow: $shadow;
  transition: $time;
  z-inde: 1;
  border: $border;
  backface-visibility: hidden;
    
    &:hover{
    width: 60%;
    height: 60%;
    z-index: 50;
    opacity: 1;
    border: 10px solid $black;
    box-shadow: 0 0 30px rgba(0,0,0,.15); 
    }
}

