/*

a mixin is similar to a function, it has multiple declarations, as well as can take arguments.

To declare a mixin 
@mixin mixin-name

To use a mixin
@include mixin-name

To use a mixin with arguments
@include($arguments, $argument2, $argument3)

*/

@mixin holder ($position, $width, $height, $border, $shadow, $opacity, $time){
  position: $position;
  width: $width;
  height: $height;
  opacity: $opacity;
  overflow: hidden;
  box-shadow: $shadow;
  transition: $time;
  z-inde: 1;
  border: $border;
  backface-visibility: hidden;
    
    &:hover {
    width: 60%;
    height: 100%;
    z-index: 50;
    opacity: 1;
    border: 10px solid $black;
    box-shadow: 0 0 30px rgba(0,0,0,.15); 
        
    }
}

@mixin span ($size, $color, $background, $opacity, $time){
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    font-size: $size;
    color: $color;
    background: $background;
    opacity: $opacity;
    padding: 10px;
    transition: $time;
    
    &:hover{
    opacity: .85;
    }
}

@mixin holder-img ($width, $height){
    width: $width;
    min-height: $height;
}









